@import '../../common/style.css';
.progress {
    width: 450px;
    height: 200px;
    font-size: 30px;
    text-align: center;
    color: orange;
}
.back-btn {
    border-radius: 8px;
    width: 180px;
    margin-top: 8px;
    background-color:darkslategrey;
}
.score-text{
    font-size: 30px;
    text-align: center;
    width: 250px;
    height: 50px;
}